.contentContainer {
  width: inherit;
  min-width: 550px;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 10px 20px 0;
  margin: 0 10px;
  overflow-x: hidden;
}

.contentContainer Form {
  width: 100%;
  max-width: 760px;
}

.contentContainer .card {
  padding: 20px 0px 0px 20px;
  border-radius: 25px;
  width: 100%;
  max-width: 760px;
}

.contentContainer .row {
  padding: 10px 0;
  width: 100%;
}

.contentContainer .col {
  margin: 5px 5px;
  width: 100%;
  max-width: 760px;
}

.contentContainer .table {
  width: 90vw;
  font-size: 11pt;
  max-height: 600px;
  display: block;
  overflow-x: auto;
}

.contentContainer th{
  text-align: center;
  position: sticky;
  font-size: 12pt;
}

.pointer {
  cursor: pointer;
}

.edit,
.view {
  width: 20px;
  height: 20px;
  padding: 1px;
  transition: color 0.4s;
  cursor: pointer;
}

.edit:hover {
  color: #CDB599FF;
}

.edit:hover:active,
.edit:focus {
  color: #7A6C5B;
}

.view:hover {
  color: #42EADDFF;
}

.view:hover:active,
.view:focus {
  color: #29948C;
}